* {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

.menuBtn {
  display: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: fixed;
  z-index: 10;
  top: 10px;
  right: 10px;
  outline: none;
  border: none;
}

.menuBtn img {
  width: 70%;
}

@media screen and (max-width: 750px) {
  .menuBtn {
    display: grid;
    place-items: center;
  }
}
